*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

    

main{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}


main ul {
    list-style-type: none;
}

.word{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    /* padding-left: 100px;
    padd */
    padding-left: 30px;
}
.wordn{
    width: 603px;
    padding-right: 140px;
    
    
}
.learn{
    font-size: 40px;
    color: white;
    /* border: 1px solid black; */
    padding-bottom: 20px; 
    line-height: 60px; 
}
.see{
    font-size: 16px;
}
.try{
    width: 470px;
    border-radius: 3px;
    background-color: hsl(248, 32%, 49%) ;
    color: white;
    /* width: 415px;
    height: 30px; */
    border-radius: 5px; background-color:  hsl(248, 32%, 49%);
    box-shadow: -1px 12px 6px -3px rgba(0,0,0,0.36);
        -webkit-box-shadow: -1px 12px 6px -3px rgba(0,0,0,0.36);
        -moz-box-shadow: -1px 12px 6px -3px rgba(0,0,0,0.36); 
        margin: 20px 0px;
       padding: 10px 0rem;
          text-align: center;
    
}

.try br{
    display: none;
}
.terms{
    text-align: center;
}
form input::placeholder{
    color:grey;
    text-decoration: solid;
    font-weight: bold;
    font-size: 12px;
}

form{
    width: 100%;
    height: 400px;
    padding: 1.5rem 2rem;
    padding-left: 2.3rem;
    border-radius: 8px;
    /* border: 1px solid blue; */
    background-color: white;
    box-shadow: -1px 12px 6px -3px rgba(0,0,0,0.36);
    -webkit-box-shadow: -1px 12px 6px -3px rgba(0,0,0,0.36);
    -moz-box-shadow: -1px 12px 6px -3px rgba(0,0,0,0.36);
}

form input,
form button {
    width:100%;
    height: 40px;
    border-radius: 3px;
    margin: 5px 0px 18px;
    border: 1px solid  hsl(246, 25%, 77%);
    font-size: 16px;
    padding-left: 25px;
    padding-right: 25px;
}

form button{
    color: white; 
    background-color:hsl(154, 59%, 51%) ;
    border: none;
    margin-bottom: 5px;
    transition: 0.5s ease;
    cursor: pointer;
}

form button:hover{
    background-color:hsl(155, 76%, 74%) ;
}
input:focus{
    border: 2px solid hsl(248, 32%, 49%) ;
    outline: none;
}

@media screen and (max-width: 576px) {
    main{
       flex-direction: column;
       padding: 25px;
       align-items: center;
       justify-content: space-between;
       width: 100%;

    }
    .wordn{
        width: 100%;
        padding: 0
        ;
    }

    form{
        width: 100%;
    }
    .try{
        width: 100%;
        padding: 20px 0px;
        text-align: center;
    }
    .try br{
        display: unset;
    }
    .learn,
    .see{
        text-align: center;
        margin: 20px 0px;
    }
   

}





